---
import ExperienceItem from "./ExperienceItem.astro"

const LATESTPROJECTS = [
  {
  final_date: 'September 2024',
  title: 'Proyecto Integrador Fly-Mountain',
  description: 'Este fue el proyecto final del curso Professional Developer de la academia Digital House; Fue desarrollado en equipo utilizando metodologías agiles, React en el Front y un Back hecho con Express y Prisma.',
  link: '#',
  },
  {
  final_date: 'September 2024',
  title: 'Proyecto Integrador Fly-Mountain',
  description: 'Este fue el proyecto final del curso Professional Developer de la academia Digital House; Fue desarrollado en equipo utilizando metodologías agiles, React en el Front y un Back hecho con Express y Prisma.',
  link: '#',
  },
  {
  final_date: 'September 2024',
  title: 'Proyecto Integrador Fly-Mountain',
  description: 'Este fue el proyecto final del curso Professional Developer de la academia Digital House; Fue desarrollado en equipo utilizando metodologías agiles, React en el Front y un Back hecho con Express y Prisma.',
  link: '#',
  },

]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  { LATESTPROJECTS.map((lprojects) => (
  <li class="mb-10 ms-4">
    <ExperienceItem {... lprojects} />
  </li>
  ))
  }
</ol>

